<style>
    hr{
        margin: 1rem 0;
    }
</style>
<div class="row">
    <div class="col-12">
        <a href="{{post.url}}" class="post_title">{{post.title}}</a>
    </div>
    <div class="col-12">
        <p id="click_blog_post"><span class="fa fa-clock-o"></span>&nbsp;{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
    </div>
    <div class="row" data-aos="fade-right" data-aos-duration="1000">
       <div class="col-6 blog-post-col-6" >
           {{#if post.thumbnail}}
           <a href="{{post.url}}">
               <img src="{{getImage post.thumbnail}}" class="img-fluid" alt="">
           </a>
           {{/if}}
       </div>
        <div class="col-6 blog-post-col-6">
            <div class="row h-100">
                <div class="col-md-12 blog-poster-body">
                        {{#if post.body}}
                        {{{post.body}}}
                        {{else}}
                        {{{post.summary}}}
                        {{#if post.show_read_more}}
                        &hellip; <a href="{{url}}" aria-label="{{post.title}} {{lang 'blog.read_more'}}">{{lang 'blog.read_more'}}</a>
                        {{/if}}
                        {{/if}}
                </div>
                <div class="col-md-12">
                   <div class="d-flex align-items-end h-100">
                       {{#if post.show_read_more}}
                       <a href="{{url}}" class="button m-0 bg-danger text-white border-danger">Read more</a>
                       {{/if}}
                   </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<hr>



