<form class="form" action="{{urls.subscribe.action}}" method="post" style="margin:0 !important;">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field border-bottom">
            <div class="form-prefixPostfix wrap">
                <div class="input-group mb-3"  style="height:4vw;">
                    <input type="text" class="form-control" placeholder="{{lang 'newsletter.email_placeholder'}}" aria-required="true" aria-label="Recipient's username" aria-describedby="alertBox-message-text">
                    <div class="input-group-append">
                        <button class="fa fa-paper-plane blog-paper-plane" style="background-color: #53bcc1;color:white;width: 3vw;" type="button"></button>
                    </div>
                </div>
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
